<div class="content">

    <div class="main">
        <div class="meta">
            <h1 class="title">My games</h1>
            <div class="buttons">
                <button>Add game</button>
            </div>
        </div>
        
        <div class="grid">
            <% tests.forEach(test => { %>
                <div class="card">
                    <div class="title">
                        <h5></a href="<%= `http://localhost:3027/api/v1/test/${test._id}` %>"><%= test.name %></a></h5>
                        <a href="<%= `http://localhost:3027/api/v1/test/${test.slug}` %>">Read more</a>
                    </div>
                    <img src="<%= test.avatar %>" class="game-cover">                    
                    <button data-id="<%= test._id %>" onclick="(() => {

                        /** **/
                        
                        const url = `http://localhost:3027/api/v1/test/5f93577b21443d3f58cde966`
                        const params = {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                            game: this.dataset.id
                            })
                        }

                        fetch(url, params).then(result => {
                            console.log(result.json())
                        })

                        /** **/

                    })()"><% if(likes.includes(test._id)){ %>
   Unlike
 <% } else{ %>  
   Like
<% } %></button>
                </div>       
            <% }); %>
        </div>
    </div>
    <%- include("../partials/sidebar/sidebar.ejs") -%>
</div>



