<div class="content">
    <div class="grid">
        <% tests.forEach(test => { %>
            <div class="card">
                <div class="title">
                    <h5></a href="<%= `http://localhost:3027/api/v1/test/${test._id}` %>"><%= test.name %></a></h5>
                    <a href="<%= `http://localhost:3027/api/v1/test/${test.slug}` %>">Read more</a>
                </div>
                <img src="<%= test.avatar %>" class="game-cover">
            </div>       
        <% }); %>
    </div>
    <%- include("../partials/sidebar/sidebar.ejs") -%>
</div>



